*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*section-1*/
#first-section{
    display: flex;
    margin: 5% 10% 5% 10%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
h1{
    color: #023e8a;
    font-size: 55px;
    border-left: 5px solid ;
    border-image: linear-gradient(#f72585,#b5179e) 1;
    padding-left: 10px;
    
}    

span{
    color: #f72585;
}
p{
    margin: 30px 0px 30px 0px;
    
}
.button{
    text-decoration: none;
    color: #f8f9fa;
    font-weight: 500;
    font-size: 15px;
    background-image: linear-gradient(#f72585,#b5179e);
    padding: 10px;
    border-radius: 5px;
    
}
/*section-2*/
#second-section{
    margin: 5% 5% 5% 13%;
}

h2{
    text-align: center;
    color: #023e8a;
    font-size: 45px;

}
h4{
    color: #023e8a;
    font-size: 25px; 
    margin-top: 20px;
}
.my-mission{
    display: flex;
    margin-top: 5%;
}
.mission{
    border-radius: 25px;
    padding: 30px;
    margin-left: 15px;
    width: 30%;
}
.mission img{
    width: 120px;
}
.m-color{
 background-color: #ffe5d9;
}
.v-color{
 background-color:#e9edc9;
}
.g-color{
background-color: #b7e4c7;
}

/*section-3*/
#third-section{
    display: flex;
    margin: 5% 10% 5% 10%; 
    background-image: url(./images/shape-1.png); 
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left;
}
.content-width{
    width: 60%;
}
.image-width{
    width: 40%;
    padding-left: 5%
}
.image-width img{
    width: 80%;
    
}
h3{
    color: #023e8a;
    font-size: 35px; 
    margin-top: 20px;
}